<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Lezione 4</title>
  </head>
  <body>
    <nav class="nav row aling-center">
      <div class="container row">
        <img class="logo" src="../../../images/logo-js.png" alt="Logo js" />
      </div>
    </nav>
    <div class="spacer-md"></div>
    <div class="spacer-xs"></div>
    <div class="container-xl" style="padding-bottom: 64px">
      <div class="container">
        <h1>Components</h1>
      </div>
      <div class="spacer-xs"></div>
      <!-- NAV COMPONENTS -->
      <div class="container">
        <h6 class="component-label">nav</h6>
        <nav class="row">
          <a class="nav-link active-link">Home </a>
          <a class="nav-link">About </a>
        </nav>
      </div>
      <div class="spacer-xs"></div>
      <div class="spacer-xs"></div>
      <!-- BUTTONS -->
      <div class="container">
        <h6 class="component-label">Buttons</h6>
        <div class="row align-end gap-md">
          <button class="button-lg">Premi</button>
          <button class="button-md">Premi</button>
          <button class="button-xs">Premi</button>
        </div>
      </div>
      <div class="spacer-xs"></div>
      <div class="spacer-xs"></div>
      <!-- FORM -->
      <div class="container">
        <h6 class="component-label">form</h6>
        <form class="form inline-form paper aling-center">
          <input type="number" id="input" placeholder="inserisci un numero" />
          <button class="button-xs" type="submit">Invia</button>
        </form>
      </div>
      <!-- INPUT -->
      <div class="spacer-xs"></div>
      <div class="spacer-xs"></div>
      <div class="container">
        <h6 class="component-label">Input</h6>
        <div class="row gap-md">
          <input placeholder="text" />
        </div>
      </div>
      <div class="spacer-xs"></div>
      <div class="spacer-xs"></div>
      <!-- PAPER -->
      <div class="container">
        <h6 class="component-label">Paper</h6>
        <div class="paper" style="width: 280px">Text</div>
      </div>
    </div>
  </body>
</html>
